.BusinessBg {

     background: url('../../../../public/image/solutions-business-bg.png');
     height: 600px;
     background-position: 100%;
     background-repeat: no-repeat;
     background-size: cover;

}